---
extends: default

rules:
  line-length:
    max: 140
    level: warning
  indentation:
    spaces: 2
    level: warning
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  document-start: disable
  truthy:
    check-keys: false
